@import url(styles.css);

html{
      
  --negrobasico: rgb(255, 255, 255);
  --fondopagina: #004573;
  --fondobotones: #009dff;
  --fondoheader: #fff;
  --botonconfirmacion: rgb(13, 116, 0);
  --bordeimagen: rgb(255, 255, 255);
  --footer: #000;
  --blancosuave: hsla(0, 0%, 0%, 0.9);
  --sombreado: rgba(0, 0, 0, 0.4);
  --gris: #ffffff98;
}

.copyright{

  color: var(--negrobasico);
}


