@import url('alto_contraste.css');

:root {
    --font-size-small: 1.125em;      
    --font-size-medium: 1.375em;     
    --font-size-large: 1.625em;      
    --font-size-xlarge: 1.875em;     
}