@import url(styles.css);

html{
    
    --negrobasico: #040000;
    --fondopagina: #0000;
    --fondobotones: #0000;
    --botonconfirmacion: transparent;
    --bordeimagen: rgb(0, 0, 0);
    --blancosuave: #0000;
    --sombreado: transparent;
    --gris: #0000;
}

header, footer{
    display: none;
}

input{

    border: 0.0625rem solid var(--negrobasico);
}
